.vs/MaterialModel/v16/TestStore/0/000-0000.testlog
obj/Debug/netcoreapp3.0/App.g.cs
obj/Debug/netcoreapp3.0/App.g.i.cs
.vs/MaterialModel/v16/Server/sqlite3/db.lock
obj/Debug/netcoreapp3.0/MainWindow.baml
obj/Debug/netcoreapp3.0/MainWindow.g.cs
obj/Debug/netcoreapp3.0/MainWindow.g.i.cs
obj/Debug/netcoreapp3.0/MaterialModel.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/MaterialModel.csproj.FileListAbsolute.txt
obj/MaterialModel.csproj.nuget.dgspec.json
obj/MaterialModel.csproj.nuget.g.props
obj/MaterialModel.csproj.nuget.g.targets
bin/Debug/netcoreapp3.0/MaterialModel.deps.json
obj/Debug/netcoreapp3.0/MaterialModel.designer.deps.json
obj/Debug/netcoreapp3.0/MaterialModel.designer.runtimeconfig.json
obj/Debug/netcoreapp3.0/MaterialModel.g.resources
bin/Debug/netcoreapp3.0/MaterialModel.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/MaterialModel.runtimeconfig.json
obj/Debug/netcoreapp3.0/MaterialModel_MarkupCompile.lref
obj/project.assets.json
.vs/MaterialModel/v16/Server/sqlite3/storage.ide
.vs/MaterialModel/v16/Server/sqlite3/storage.ide-shm
.vs/MaterialModel/v16/Server/sqlite3/storage.ide-wal
.vs/MaterialModel/v16/TestStore/0/testlog.manifest
